body {
  color: black;
}

header {
  background-color: silver;
  text-align: center;
  margin: 1%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
 .meni >div {
	background-color: silver;
	width: calc(90% / 5);
	float: left;
	min-height: 40px;
	margin: 1%;
	font-family: "Ariel ", Gadeget, sans-serif;

}
.meni> div h4{
	text-align: center;
}
.section1 {
	background-color: silver;
    float: left;
    margin: 1%;
    width: 98%;
    min-height: 300px;
	
}

.section1> div.text {
    text-align: center;
    background-color: silver;
	font-family: "Ariel", sans-serif;
}
.section1> div.text h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.section1>div.photo img{

	width: 600px;
	height:250px;
 display: block;
 margin-left: auto;
 margin-right: auto;

}

.section2>div{
	background-color: silver;
    float: left;
    margin: 1%;
    width: calc(94% / 3);
    min-height: 450px;
}
  .section2>div .text{
        color: black;
        font-family: "Ariel", , sans-serif;
    }
    .section2>div .text h4{
    font-family:"Comic Sans MS", cursive, sans-serif;
    }
     
        .section2>div .photo img{
            width: 400px;
            height: 200px;
        }
